.container-fluid{
    background-color: yellow;
    height:20rem;


}
.row{
    height:4rem;
    background-color :pink;
}
[class*="col-"]{
    background-color: blue;
    height:2rem;
    border: solid 2px black;

}